html{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body{
  height: auto;
  background: #DEF2F1;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

/*NAVIGASJONSBAR*/
#nav_bar{
  position: sticky;
  height: 100px;
  background-color: #3AAFA9;
  margin-top: 100vh;
  z-index: 998;
  width: 100%;
  top: 0;
}

#nav_bar button {
    font-family: Muli;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    letter-spacing: 0.3em;
    color: #17252A;
    border-radius: 2px;
    padding: 0.5% 1.2% 0.5%;
    transition: all 0.2s ease-out;
    transition: all 0.15s ease-in;
    background: linear-gradient(270deg, #3a5d69, #17252A, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    margin-left: 20px;
    margin-top: 35px;
    border: 1px solid #17252A;
}

#nav_bar button:hover {
    border: 1px solid rgba(223, 190, 106, 0);
    color: #FEFFFF;
    background-position: 99% 50%;
}

#logo_element {
    width: 340px;
    float: left;
}


/*FRONTPAGE*/
/*WELCOME*/
#welcome_element {
    position: absolute;
    background-color: #3AAFA9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#logo_img {
    display: block;
    margin: auto;
    margin-top: 35vh;
}


#learn_element {
    display: block;
    margin: auto;
    margin-top: 35px;
    font-family: Muli;
    background-color: #3a5d69;
    border: 0;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: #FEFFFF;
    font-size: 21px;
    transition: all ease-out 0.25s;
}

#learn_element:hover {
    background-color: #17252A;
    font-size: 22px;
    padding: 12px;
    padding-left: 27px;
    padding-right: 27px;
}

#arrow_img {
    display: block;
    margin: auto;
    width: 60px;
    left: 45%;
    margin-top: 30vh;
    transition: 0.3s;
    z-index: 999;
}

#arrow_img:hover {
    display: block;
    margin: auto;
    margin-top: 28vh;
}

#welcome_info {
    width: 100%;
    margin-top: 20px;
}

.content {
    background-color: #3a5d69;
    width: 55%;
    padding: 40px;
    margin-left: 15%;
    margin-top: 150px;
}


#happy_element,
#happy_element3 {
    position: relative;
    float: right;
    margin-right: -35%;
    padding: 20px;
    width: 40%;
}

#happy_element2{
  position: relative;
  float: left;
  margin-left: -35%;
  padding: 40px;
  margin-top: -20px;
  width: 40%;
}

h2 {
    font-family: Muli;
}

#first_content,
#second_content,
#third_content {
    font-family: Roboto;
    background-color: #3a5d69;
    color: #FEFFFF;
}

#first_content{
  margin-top: 80px;
  padding-bottom: 130px;
}

#second_content{
  float: right;
  margin-right: 15%;
}

#third_content {
    margin-top: 700px;
    padding-bottom: 130px;
}

.content_input{
    font-family: Muli;
    background-color: #3AAFA9;
    border: none;
    padding: 10px 20px 10px;
    transition: all 0.2s ease-out;
    transition: all 0.15s ease-in;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    letter-spacing: 0.3em;
    border-radius: 10px;
}

.content_input:hover{
  color: #FEFFFF;
}

::-webkit-scrollbar {
    display: none;
}

#menuToggle{
    display: none;
}

/*FOOTER*/

#container {
	position: relative;
	min-height: 100vh;
}

#content-wrap{
	padding-bottom: 240px;
}
footer{
	padding: 0;
	margin: 0;
}
#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 240px;
	background: #17252A;
}

#info{
	position: absolute;
	width: 380px;
	margin-left: 80px;
	min-height: 200px;
	top: 20px;
	text-align: center;
}
.icon{
	position: absolute;
	width: 35px;
	height: 35px;
	margin: auto;
}
.grid-container {
	display: grid;
	grid: 20px / auto auto;
	grid-gap: 15px;
	padding: 10px;
}

#links {
	position: absolute;
	width: 380px;
	top: 20px;
	left: 570px;
}

.item2, .item4, .item6{
	margin-top: 8px;
	text-align: left;
}



#map{
	position: absolute;
	width: 380px;
	top: 20px;
	right: 80px;
}

a:link{
	color:#2b7a78;
}

a:hover{
	color:#3aafa9;
}




@media screen and (max-width: 940px) {
    #logo_element {
        display: none;
    }

    #happy_element,
    #happy_element3 {
        width: 55%;
    }

    #happy_element2{
      width: 55%;
    }
}

@media screen and (max-width: 600px) {
    #nav_bar{
      display: none;
    }

    #first_content{
      margin-top: 105vh;
    }

    #arrow_img{
      display: none;
    }

    a{
      text-decoration: none;
      color: #cdcdcd;
      transition: color 0.3s ease;
    }

    a:hover{
      color: #3a5d69;
    }

    #menuToggle{
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      background-color: black;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle input{
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 15px;
      left: 12px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }


    #menuToggle span{
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #span1{
      margin-top: 23px;
      transform-origin: 0% 0%;
    }

    #span2{
      transform-origin: 0% 100%;
    }

    #span1, #span2, #span3{
      margin-left: 18px;
    }

    #menuToggle input:checked ~ span{
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -2px);
      background: #cdcdcd;
    }

    #menuToggle input:checked ~ #span2{
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ #span3{
      transform: rotate(-45deg) translate(0, -4px);
    }

    #menu{
      position: fixed;
      width: 175px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      padding-left: 100px;
      background: #17252A;
      list-style-type: none;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
      padding: 10px 0;
      font-size: 22px;
    }

    #menuToggle input:checked ~ ul{
      transform: none;
    }

@media screen and (max-width: 480px) {
    #logo_img{
      width: 100%;
    }

    #learn_element{
      font-size: 16px;
      padding: 2%;
      padding-left: 5%;
      padding-right: 5%;
    }

    #happy_element, #happy_element2, #happy_element3{
      display: none;
    }

    .content{
      padding: 30px;
      margin: auto;
      width: 69%;
    }
    #first_content,
    #second_content,
    #third_content {
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    #second_content{
      float: none;
      margin: auto;
    }

    #third_content{
      margin-top: 50px;
    }
}
