#nav_bar{
  margin-top: -10px;
}

body {
  background: #50d8b6;
  height: 100%;
}

.faq, h1 {
  margin-left: 10%;
}

.faqanswer {
  display: none;
}

.faqanswer.open {
  display: block;
} 

.faqquestion > h2:hover {
  color: #0000EE;
  text-decoration: underline;
}

