:root {
/* All custom colors */
    --bg-color: #def2f1;
    --white: #feffff;
    --turquoise: #3aafa9;
    --less-dark: #2b7a78;
    --dark: #3a5d69;
    --grey: #c4c4c4;
    --black: #17252a;
}

/* Fonts */
* {
    font-family: Roboto;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: Muli;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

img {
    vertical-align: middle;
}

/**************************************************/
/****************** NAVBAR STYLE ******************/
/**************************************************/
#nav_bar {
    position: fixed;
    top: 0px;
    margin-left: -8px;
    height: 100px;
    width: 100%;
    background-color: var(--turquoise);
    z-index: 999;
}

#nav_bar button {
    font-family: Muli;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    letter-spacing: 0.3em;
    color: var(--black);
    border-radius: 2px;
    padding: 0.5% 2% 0.5%;
    transition: all 0.2s ease-out;
    transition: all 0.15s ease-in;
    background: linear-gradient(270deg, var(--dark), var(--black), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    margin-left: 20px;
    margin-top: 35px;
    border: 1px solid var(--black);
}

#nav_bar button:hover {
    border: 1px solid rgba(223, 190, 106, 0);
    color: var(--white);
    background-position: 99% 50%;
}

#logo_element {
    width: 340px;
    margin-top: 17px;
    float: left;
}


/**************************************************/
/**************** LECTURERS STYLE ****************/
/*************************************************/
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    min-height: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
    background-color: var(--dark);
    min-height: 400px;
}

.lecturerinfo {
    width: 50%;
    float: right;
    text-align: center;
    color: var(--white);
}

.lecturerimg {
    width: 50%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--white);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: var(--black);
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/**************************************************/
/***************** ABOUT US STYLE *****************/
/**************************************************/
#about_div {
    margin: auto;
    margin-top: 140px;
    width: 700px;
    margin-bottom: 50px;
    text-align: center;
}

#about_div h1 {
    margin-bottom: 30px;
}

#stuffs {
    display: block;
    width: 820px;
    margin: auto;
    margin-top: 100px;
}

#aim_div {
    margin-bottom: 30px;
    margin-left: 60px;
    float: right;
    width: 350px;
    height: 350px;
}

#aim_text,
#aim_headline {
    padding-left: 40px;
    padding-right: 40px;
}

#aim_text {
    font-size: 17px;
}

#picture_div {
    float: right;
    right: 20px:
}

#work_big_img {
    width: 400px;
}

#work_smaller1_img {
    width: 198px;
}

#work_smaller2_img {
    width: 198px;
}

#all_lecturers {
    position: relative;
    display: block;
    width: 1000px;
    height: 900px;
    margin: auto;
    margin-top: 500px;
}

.lecturer {
    float: left;
    width: 260px;
    height: 300px;
    margin: 30px;
    margin-top: 100px;
    background-color: var(--grey);
    transition: all 0.4s ease-out;
    transition: all 0.4s ease-in;
    border-radius: 8px;
}

.lecturer:hover {
    transform: scale(1.15);
}

.lecturer img {
    display: block;
    width: 130px;
    border-radius: 50%;
    margin: auto;
    margin-top: -50px;
}

.lecturer h3,
p {
    padding-left: 20px;
    padding-right: 20px;
}

/**************************************************/
/****************** LOGIN STYLE ******************/
/**************************************************/
input {
    background-color: var(--grey);
    width: 40%;
    height: 2em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input.long {
    background-color: var(--grey);
    height: 2em;
    margin-bottom: 1em;
    width: 84.5%;
}

input::placeholder {
    color: var(--black);
    opacity: 1;
}

.topbutton > p {
    text-align: center;
    vertical-align: middle;
}

.topbutton {
    width: 50%;
    height: 4em;
    float: right;
    margin-bottom: 2em;
}

.topbutton.gray {
    background-color: var(--grey);
}

.whitebox {
    background-color: var(--white);
    width: 50%;
    height: 50%;
    margin: auto;
}

.whitebox > p {
    margin-left: 4em;
    font-size: 140%;
}

.whitebox > form {
    text-align: center;
    width: 100%;
}

.signbtn {
    background-color: var(--black);
    color: var(--white);
    border: none;
    width: 20em;
    height: 2.5em;
    margin-top: 2em;
    margin-bottom: 3em;
}

/* Initially hidden */
#signupbox {
    display: none;
}

#bound {
  height: 800px;
  position: relative;
  padding: 30px;
}

/**************************************************/
/**************** COURSES OVERVIEW ****************/
/**************************************************/
.courses_box {
    background-color: var(--dark);
    color: var(--white);
    display: block;
    float: left;
    padding: 10px;
    margin: 20px;
    width: 45%;
    position: relative;
}

.courses_box:hover {
    transform: scale(1.05);
}

.title_text {
    font-weight: bold;
    font-size: 16pt;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(60%, 50%);
}

.price {
    float: right;
}

.upcoming {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/**************************************************/
/****************** COURSE STYLE ******************/
/**************************************************/
.heading_box {
    background-color: var(--dark);
    color: var(--white);
    font-weight: bold;
    font-size: 26pt;
    position: relative;
}

.heading_box > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading_box > img {
    padding-left: 10px;
}

table {
    margin: 0;
    border-collapse: collapse;
}

th {
    background-color: var(--turquoise);
    color: var(--white);
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid var(--grey);
}

#about_box {
    float: left;
}

#info_bar {
    float: right;
}

#info_box::after {
    content: "";
    clear: both;
    display: table;
}

.review_box {
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey);
    padding: 10px;
}

.review_box > p {
    padding-left: 20px;
}

#all_reviews_box {
    display: none;
}

/**************************************************/
/***************** FAQ/HELP STYLE *****************/
/**************************************************/
.faq {
    margin-left: 10%;
}

.faqanswer {
    display: none;
}

.faqanswer.open {
    display: block;
}

.faqquestion > h2:hover {
    color: var(--less-dark);
    text-decoration: underline;
}

/**************************************************/
/******************* QUIZ STYLE *******************/
/**************************************************/
#quiz_box {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
}

.question {
    font-size: 140%;
}

.answers {
    padding: 2em;
    width: 100%;
}

#back_and_forth_box {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/**************************************************/
/****************** FOOTER STYLE ******************/
/**************************************************/

#container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 240px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 240px;
    background: var(--black);
}

#info {
    position: absolute;
    width: 380px;
    margin-left: 80px;
    min-height: 200px;
    top: 20px;
    text-align: center;
}

.icon {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid: 20px / auto auto;
    grid-gap: 15px;
    padding: 10px;
}

#links {
    position: absolute;
    width: 380px;
    top: 20px;
    left: 570px;
}

.item2,
.item4,
.item6 {
    margin-top: 8px;
    text-align: left;
}

#map {
    position: absolute;
    width: 380px;
    top: 20px;
    right: 80px;
}

footer a:link {
    color: var(--less-dark);
}

footer a:hover {
    color: var(--turquoise);
}


/**************************************************/
/*************** SCREEN RELATIVITY ***************/
/**************************************************/
@media screen and (max-width: 1040px) {

    #logo_element,
    #map,
    .row,
    .lecturerimg,
    #info {
        display: none;
    }

    .lecturerinfo {
        width: 100%;
        float: none;
    }

    #links {
        left: 0;
    }

    .courses_box {
        float: none;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
}
