/**************************************************/
/******************** GENERAL ********************/
/**************************************************/
* {
    font-family: Roboto;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: Muli;
}

body {
    margin: 0;
    background-color: #def2f1;
}

img {
    vertical-align: middle;
}

button {
    font-family: Muli;
    background-color: #3aafa9;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    letter-spacing: 0.3em;
    color: #17252a;
    transition: all 0.2s ease-out;
    transition: all 0.15s ease-in;
    margin: 20px;
}

button:hover{
  color: #FEFFFF;
}

input {
    background-color: #c4c4c4;
    width: 40%;
    height: 2em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input.long {
    background-color: #c4c4c4;
    height: 2em;
    margin-bottom: 1em;
    width: 84.5%;
}

input[type=radio]{
    margin: 10px;
    width: auto;
    height: auto;
}

input::placeholder {
    color: #17252a;
    opacity: 1;
}

/**************************************************/
/****************** NAVBAR STYLE ******************/
/**************************************************/
#nav_bar {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: #3aafa9;
    z-index: 999;
}

#nav_bar button {
    background: transparent;
    border-radius: 2px;
    border: 1px solid #17252a;
    padding: 0.5% 1.2% 0.5%;
    background: linear-gradient(270deg, #3a5d69, #17252a, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    margin: 35px 0px 0px 18px;
}

#nav_bar button:hover {
    border: 1px solid rgba(223, 190, 106, 0);
    color: #feffff;
    background-position: 99% 50%;
}

#logo_element {
    width: 340px;
    margin-top: 6px;
    float: left;
}

.container {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    min-height: 100%;
}

/**************************************************/
/**************** LECTURERS STYLE ****************/
/*************************************************/
/* Hide the images by default */
.lecturerSlides {
    display: none;
    background-color: #3a5d69;
    min-height: 400px;
}

.lecturerinfo {
    width: 50%;
    float: right;
    text-align: center;
    color: #feffff;
}

.lecturerimg {
    width: 50%;
}


.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Highlights buttons when hovering*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #feffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Image text */
.caption-container {
    text-align: center;
    background-color: #17252a;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/**************************************************/
/***************** ABOUT US STYLE *****************/
/**************************************************/
#content-wrap_about{
    padding-bottom: 240px;
    width: 75%;
}

#about_div {
    margin: auto;
    margin-top: 140px;
    width: 95%;
    margin-bottom: 50px;
    text-align: center;
}

#about_div h1 {
    margin-bottom: 30px;
}

#stuffs {
    display: block;
    width: 820px;
    margin: auto;
    margin-top: 100px;
}

#aim_div {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5%;
    float: right;
    width: 34%;
    height: auto;
    padding-bottom: 30px;
    background-color: #FEFEFE
}

#aim_text,
#aim_headline {
    padding-left: 40px;
    padding-right: 40px;
}

#aim_text {
    font-size: 17px;
}

#picture_div {
    float: left;
    right: 20px;
    margin-left: 5%;
}

#work_big_img {
    width: 370px;
}

#work_smaller1_img {
    width: 183px;
}

#work_smaller2_img {
    width: 183px;
}

#all_lecturers {
    position: relative;
    display: block;
    height: 900px;
    margin: auto;
    margin-top: 500px;
}

.lecturer {
    float: left;
    width: 24%;
    height: 300px;
    margin: 30px;
    margin-left: 5%;
    margin-top: 100px;
    background-color: #c4c4c4;
    transition: all 0.4s ease-out;
    transition: all 0.4s ease-in;
    border-radius: 8px;
}

.lecturer:hover {
    transform: scale(1.15);
}

.lecturer img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    margin-top: -50px;
}

.lecturer h3,
p {
    padding-left: 20px;
    padding-right: 20px;
}

/**************************************************/
/****************** LOGIN STYLE ******************/
/**************************************************/
.topbutton > p {
    text-align: center;
    vertical-align: middle;
}

.topbutton {
    width: 50%;
    height: 4em;
    float: right;
    margin-bottom: 2em;
}

.topbutton.gray {
    background-color: #c4c4c4;
}

.whitebox {
    background-color: #feffff;
    width: 50%;
    height: 50%;
    margin: auto;
}

.whitebox > p {
    margin-left: 4em;
    font-size: 140%;
}

.whitebox > form {
    text-align: center;
    width: 100%;
}

.signbtn {
    background-color: #17252a;
    color: #feffff;
    border: none;
    width: 20em;
    height: 2.5em;
    margin-top: 2em;
    margin-bottom: 3em;
}

/* Initially hidden */
#signupbox {
    display: none;
}

#bound {
  height: 800px;
  position: relative;
  padding: 30px;
}

/**************************************************/
/**************** COURSES OVERVIEW ****************/
/**************************************************/
.courses_box {
    background-color: #3a5d69;
    color: #feffff;
    display: block;
    float: left;
    padding: 10px;
    margin: 20px;
    width: 45%;
    transition: all 0.1s ease-out;
    transition: all 0.1s ease-in;
    position: relative;
}

.courses_box:hover {
    transform: scale(1.05);
}

.title_text {
    font-weight: bold;
    font-size: 16pt;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(60%, 50%);
}

.price {
    float: right;
}

.upcoming {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/**************************************************/
/****************** COURSE STYLE ******************/
/**************************************************/
.heading_box {
    background-color: #3a5d69;
    color: #feffff;
    font-weight: bold;
    font-size: 26pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin: 0;
    border-collapse: collapse;
}

th {
    background-color: #3aafa9;
    color: #feffff;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #c4c4c4;
}

#about_box {
    width: 60%;
}

#info_bar {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_bar a:link{
    color: #17252a;
}

#info_bar a:hover{
    color: #2b7a78;
}

#info_bar img{
    width: 250px;
    margin-top: 20px;
}

#info_box {
    display: flex;
    justify-content: space-between;
}

.review_box {
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4;
    padding: 10px;
    margin: 20px;
}

.review_box > p {
    padding-left: 20px;
}

#all_reviews_box {
    display: none;
}

/**************************************************/
/***************** FAQ/HELP STYLE *****************/
/**************************************************/
.faq {
    margin-left: 10%;
}

.faqanswer {
    display: none;
}

.faqanswer.open {
    display: block;
}

.faqquestion > h2:hover {
    color: #2b7a78;
    text-decoration: underline;
}

/**************************************************/
/******************* QUIZ STYLE *******************/
/**************************************************/
#quiz_box {
    height: 50%;
    margin-left: 20%;
    padding: 10px;
}

.question {
    font-size: 140%;
}

.answers {
    width: 100%;
}

#back_and_forth_box {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/**************************************************/
/****************** FOOTER STYLE ******************/
/**************************************************/

#container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 240px;
}

#footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 240px;
    margin: auto;
    background: #17252a;
}

#footercontainer{
	overflow: hidden;
	width: 80%;
	margin: auto;
}

#info {
    float: left;
    width: 33%;
    min-height: 200px;
    text-align: center;
}

.icon {
    position: relative;
    width: 35px;
    margin: auto;
}


#links {
    float: left;
    width: 33%;
	padding: 10px;
    margin-top: 10px;
}

.item1, .item2, .item3{
	margin: 10px;
}

#map {
    float: left;
    width: 33%;
	
	margin-top: 20px;
}

footer a:link {
    color: #2b7a78;
}

footer a:hover {
    color: #3aafa9;
}


/**************************************************/
/*************** SCREEN RELATIVITY ***************/
/**************************************************/
@media screen and (max-width: 940px) {

    .caption-container, #nav_bar, #logo_element,
    #map,
    .row,
    #info, 
    #picture_div {
        display: none;
    }
	/**LECTURER**/
    .lecturerinfo {
        width: 90%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
        float: none;
    }
	.lecturerinfo p{
		text-align: left;
	}
	
	.lecturerimg{
		width: 100%;
		height: 100%;
	}
	
	.lecturerSlides{
		overflow: auto;
		margin-bottom: 40px;
		margin-top: -40px;
	}
	/**FOOTER**/
	#content-wrap{
		padding-bottom: 120px;
	}
	
	#footer{
		height: 140px;
	}
	
	.icon{
		width: 25px;
	}
	
	.grid-container{
		margin: 0;
	}

	/**ABOUT US**/
	.lecturer{
        	width: 35%;
	}

        #stuffs {
        	display: block;
        	width: 100%;
        	height: 1600px;
	}

    	#aim_div{
      		margin: auto;
      		width: 95%;
      		height: auto;
      		padding-bottom: 20px;
    	}

    	#all_lecturers{
     		margin-top: 250px;
   	}
	
    #links {
		margin: auto;
		width: 80%;
		font-size: 12px;
		float: none;
		min-width: 300px;
    }
/**************** COURSES OVERVIEW ****************/
    .courses_box {
        float: none;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
        width: 100%;
    }
    
    .courses_box img{
        width: 25%;
    }
    
    .price, .upcoming{
        display: none;
    }
    
/****************** COURSE STYLE ******************/
    #info_box{
        display: block;
    }
    
    #info_box img{
        display: none;
    }
    
    #info_box > div{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #nav_bar{
      display: none;
    }

    #about_div{
      margin-top: -40px;
    }

    .lecturer{
        width: 60%;
        margin-left: 20%;
    }

    #stuffs {
        height: 2900px;
}


/**************************************************/
/**************** HAMBURGER STYLE *****************/
/**************************************************/
  /*Very much inspired by https://codepen.io/erikterwan/pen/EVzeRP*/
    #menu a{
      text-decoration: none;
      color: #cdcdcd;
      transition: color 0.3s ease;
    }

    #menu a:hover{
      color: #3a5d69;
    }

    #menuToggle{
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      background-color: black;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle input{
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 15px;
      left: 12px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }


    #menuToggle span{
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #span1{
      margin-top: 23px;
      transform-origin: 0% 0%;
    }

    #span2{
      transform-origin: 0% 100%;
    }

    #span1, #span2, #span3{
      margin-left: 18px;
    }

    #menuToggle input:checked ~ span{
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -2px);
      background: #cdcdcd;
    }

    #menuToggle input:checked ~ #span2{
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ #span3{
      transform: rotate(-45deg) translate(0, -4px);
    }

    #menu{
      position: fixed;
      width: 325px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      padding-left: 100px;
      background: #17252A;
      list-style-type: none;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
      padding: 10px 0;
      font-size: 22px;
    }

    #menuToggle input:checked ~ ul{
      transform: none;
    }
}
