/*NAVBAR*/
#nav_bar{
  position: fixed;
  top: 0px;
  margin-left: -8px;
  height: 100px;
  width: 100%;
  background-color: #3AAFA9;
  z-index: 999;
}

    #nav_bar button{
      font-family: Muli;
      display: inline-block;
      background: transparent;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 0.7rem;
      letter-spacing: 0.3em;
      color: #17252A;
      border-radius: 2px;
      padding: 0.5% 2% 0.5%;
      transition: all 0.2s ease-out;
      transition: all 0.15s ease-in;
      background: linear-gradient(270deg, #3a5d69, #17252A, rgba(34,34,34,0), rgba(34,34,34,0));
      background-position: 1% 50%;
      background-size: 300% 300%;
      margin-left: 20px;
      margin-top: 35px;
      border: 1px solid #17252A;
    }

    #nav_bar button:hover{
      border: 1px solid rgba(223,190,106,0);
      color: #FEFFFF;
      background-position: 99% 50%;
    }

  #logo_element{
    width: 340px;
    margin-top: 17px;
    float: left;
  }
